@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-straight/css/uicons-solid-straight.css');

.wrapper {
    display: flex;
    flex-direction: column;
    width: 84%;
    height:fit-content;
    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 20px 30px 60px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content_wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 30px;
    align-items: start;
    width: 100%;
    height: calc(100vh-197px);
}

.singleBook {
    width: 200px;
    min-height: 365px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.singleBook_wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.singleBook_wrapper > img {
    width: 150px;
    height: 226px;
}

.singleBook_wrapper > h3 {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.singleBook_wrapper > p {
    margin-top: 2px;
    font-size: 14px;
    color: #666;
    text-align: left;
}

.btnwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    height: 100%;
    margin-top: 10px;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}

.like_btn {
    cursor: pointer;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.like_btn:hover {
    color: red;
    scale: 1.2;
}

.like_btn:active {
    scale: 1;
}

.edit_delete_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: 100%;
}

.edit_delete_btns button {
    width: 19px;
    height: 19px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b6a6a;
    font-size: 16px;
    margin-top: 0;
}

.edit_delete_btns button i {
    width: fit-content;
    height: fit-content;
}

.notfound {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

.loaderWrapper {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}
.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}
@keyframes l23 {
100% {transform: rotate(1turn)}
}