.wrapper {
    width: 80vw;
    height: 197px;
    margin: 0 auto;
}

.upperNav {
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #c9bebe
}

.upperNav ul {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.upperNav ul div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.upperNav ul div:nth-child(2) {
    justify-self: flex-end;
}

.upperNav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.upperNav ul li:hover {
    color: #7b6a6a;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    gap: 0px !important;
}

.profileInfo p:nth-child(2) {
    font-size: 13px;
    color: #7b6a6a;
    text-align: start;
}

.upperNav ul .profileIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #c9bebe;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.upperNav ul .profileIcon i {
    font-size: 16px;
}

nav {
    height: 50%;
    width: 100%;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.logo>i {
    margin-right: 7px;
}

a>span {
    color: #7b6a6a;
}

.lowerNav {
    width: 100%;
    height: 20%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0;
    box-sizing: border-box;
}

.lowerNav > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #7b6a6a;
    font-size: 12px;
    margin-top: 0;
}

.lowerNav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.lowerNav ul li {
    min-height: 100%;
    width: 86.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #c9bebe;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 13px;
    /* transition: background-color 0.3s ease-in-out; */
}

.lowerNav ul li:hover {
    box-shadow: 1px 1px 10px #c9bebe;
}

.active {
    background-color: #7b6a6a;
    color: #fff;
}

.editButtons {
    display: flex;
    gap: 10px;
    margin-top: 0;
}

.editButtons button {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b6a6a;
    font-size: 12px;
    margin-top: 0;
}

.editButtons button i {
    width: fit-content;
    height: fit-content;
}